################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/leetcode/.vs
/leetcode/leetcode/bin/Debug/net7.0
/leetcode/leetcode/obj
